<div class="about-me">
  <div class="description">I am a software developer focussed in full stack development. Actively working on Angular, Spring, and Hibernate
    frameworks. I have a proven record building web application from scratch to production ready using Angular, Spring
    and Hibernate. I am very passionate about web development and active learner of new technologies. I always think
    about a problem in different ways and achieve a solution that suits best to solve the business problems with out
    compromising in quality and performance. </div>
</div>