@import '../../common/styles/fonts.scss';
.about-me{
    display: flex;
    justify-content: center;
    border: 1px solid;
    box-shadow: 1px 1px;
    .description{
        padding: 5px;
    }

    .content{
        font-family: $ff-avant-garde-bold !important;
    }
}