@import '../../common/styles/variables';
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: color(light-blue);
    height: 160px;
    padding: 5px;
    align-items: center;
    color: color(pure-white);
    font-weight: bold;
    border: {
        bottom-left-radius: 15px;
        bottom-right-radius: 15px;
    }

    img:hover{
        cursor: pointer;
    }
}