@import '../../common/styles/variables';
.header{
    position: relative;
    margin-bottom: 10px;
    .coder-image{
        border: {
            bottom-left-radius: 30px;
            bottom-right-radius: 30px;
        }
    }
    .details {
        position: absolute;
        top: 30%;
        left: 0;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 160px;
        padding: 5px;
        color: color(pure-white);
        font-weight: bold;
        border: {
            bottom-left-radius: 15px;
            bottom-right-radius: 15px;
        }
    
        img:hover{
            cursor: pointer;
        }
    }
 
}