@import '../../common/styles/variables';
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: color(light-blue);
    height: 60px;
    align-items: center;
    color: color(pure-white);
}